{# vi: set ft=sls : #}
{% set k8s_salt = {} %}
{% do k8s_salt.update({'arch':salt['pillar.get']('k8s_salt:arch') or salt['grains.get']('osarch') or 'amd64'}) %}
{% do k8s_salt.update({'cas':['kube-ca','etcd-peer-ca','etcd-trusted-ca','requestheader-ca']}) %}

# Hostname is also a problem
{% do k8s_salt.update({'hostname_fqdn':salt['pillar.get']('k8s_salt:hostname_fqdn') or salt['grains.get']('fqdn') or salt['grains.get']('id')}) %}

# Try to infer the node's IP 
# TODO: this ain't easy. There will be a bunch of edge cases to sort out.
{% if salt['pillar.get']('k8s_salt:ipv6') %}
  {% if salt['pillar.get']('k8s_salt:network_interface') %}
    {% do k8s_salt.update({'network_interface':salt['pillar.get']('k8s_salt:network_interface')}) %}
    {% do k8s_salt.update({'ip':salt['grains.get']('ip6_interfaces')[k8s_salt['network_interface']] | first}) %}
  {% else %} 
    {% do k8s_salt.update({'ip':salt['grains.get']('fqdn_ip6') | first}) %}
  {% endif %}
{% else %}
  {% if salt['pillar.get']('k8s_salt:network_interface') %}
    {% do k8s_salt.update({'network_interface':salt['pillar.get']('k8s_salt:network_interface')}) %}
    {% do k8s_salt.update({'ip':salt['grains.get']('ip4_interfaces')[k8s_salt['network_interface']] | first}) %}
  {% else %} 
    {% do k8s_salt.update({'ip':salt['grains.get']('fqdn_ip4') | first}) %}
  {% endif %}
{% endif %}

# Get list of clusters
# TODO: this smells of recursion (build k8s_salt by mining get_k8s_data)
{% set clusters = [] %}
{% for cluster in salt['mine.get']('I@k8s_salt:enabled and I@k8s_salt:cluster', 'get_k8s_data', 'compound').values() | map(attribute='cluster') | unique %}
  {% do clusters.append(cluster) %}
{% endfor %}
{% do k8s_salt.update({'clusters':clusters}) %}

# Signing policy constraints
{% set allowed_minions = {
                           'etcd-peer-ca':'I@k8s_salt:roles:etcd:True',
                           'etcd-trusted-ca':'I@k8s_salt:roles:etcd:True or I@k8s_salt:roles:controlplane:True',
                           'requestheader-ca':'I@k8s_salt:roles:controlplane:True',
                           'kube-ca':'I@k8s_salt:roles:controlplane:True or I@k8s_salt:roles:worker:True'
                         } %}
{% do k8s_salt.update({'allowed_minions':allowed_minions}) %}

# CA server
# TODO: this smells of recursion (build k8s_salt by mining get_k8s_data)
{% do k8s_salt.update({'ca_server':salt['mine.get']('I@k8s_salt:roles:ca:True', 'get_k8s_data', 'compound').popitem()[1]['id']}) %}

# Version info
{% do k8s_salt.update({'version_kubernetes':salt['pillar.get']('k8s_salt:version:kubernetes') or '1.21.0'}) %}
{% do k8s_salt.update({'version_etcd':salt['pillar.get']('k8s_salt:version:etcd') or 'v3.4.15'}) %}

# Proxy repos (if necessary)
{% do k8s_salt.update({'k8s_proxy_repo':salt['pillar.get']('k8s_salt:k8s_proxy_repo') or 'https://storage.googleapis.com/kubernetes-release/release'}) %}
{% do k8s_salt.update({'etcd_proxy_repo':salt['pillar.get']('k8s_salt:etcd_proxy_repo') or 'https://github.com/etcd-io/etcd/releases/download'}) %}

# K8s binaries
{% set binaries = [] %}
{% if salt['pillar.get']('k8s_salt:roles:controlplane') %}
{% do binaries.append('kube-apiserer') %}
{% do binaries.append('kube-scheduler') %}
{% do binaries.append('kube-controller-manager') %}
{% endif %}
{% if salt['pillar.get']('k8s_salt:roles:worker') %}
{% do binaries.append('kube-proxy') %}
{% do binaries.append('kubelet') %}
{% endif %}
{% do k8s_salt.update({'k8s_binaries':binaries}) %}

# K8s cluster properties
{% do k8s_salt.update({'service_cidr':salt['pillar.get']('k8s_salt:service_cidr') or '10.143.0.0/16'}) %}
# TODO: derive service ip from service cidr
{% do k8s_salt.update({'api_service_ip':salt['pillar.get']('k8s_salt:api_service_ip') or '10.143.0.1'}) %}
{% do k8s_salt.update({'api_extra_ips':salt['pillar.get']('k8s_salt:api_extra_ips') or []}) %}
