[Unit]
Description=Kubernetes Controller Manager {{ salt['pillar.get']('controlplane:version') }}
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --allocate-node-cidrs=true \
  --allow-untagged-cloud=true \
  --bind-address=0.0.0.0 \
  --cloud-provider="" \
  --cluster-cidr=10.42.0.0/16 \
  --cluster-signing-cert-file=/etc/kubernetes/pki/kube-ca.pem \
  --cluster-signing-key-file=/etc/kubernetes/pki/kube-ca-key.pem \
  --configure-cloud-routes=false \
  --kubeconfig=/etc/kubernetes/config/controller.kubeconfig \
  --leader-elect=true \
  --root-ca-file=/etc/kubernetes/pki/kube-ca.pem \
  --service-account-private-key-file=/etc/kubernetes/pki/sa-key.pem \
  --service-cluster-ip-range=10.43.0.0/16 \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

# serial 1
