[Unit]
Description=Kubernetes Scheduler {{ salt['pillar.get']('k8s_salt:version:kubernetes') }}
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
{%- for k, v in k8s_salt['kube-scheduler']['flags'].items() %}
  --{{ k }}={{ v }}{% if not loop.last %} \{% endif %}{% endfor %}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

