[Unit]
Description=kubelet v{{ k8s_salt['version_kubernetes'] }}: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/home/

[Service]
ExecStart=/usr/local/bin/kubelet \
{%- for k, v in k8s_salt['kubelet']['flags'].items() %}
  --{{ k }}={{ v }}{% if not loop.last %} \{% endif %}{% endfor %}
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
