[Unit]
Description=Kubernetes Controller Manager {{ k8s_salt['version_kubernetes'] }}
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
{%- for k, v in k8s_salt['kube-controller-manager']['flags'].items() %}
  --{{ k }}={{ v }}{% if not loop.last %} \{% endif %}{% endfor %}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

# serial 1
